body {
    font-family: 'Raleway', sans-serif;
    margin: 50px;
}

.img {
    height: 175px;
    width: 350px;
    margin-top: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffc1d5;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #333333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #fc6998;
  }

  #boton-principal {
    float:right
  }

  .boton-principal {
      color: white;
      background-color: #f74780;
  }

  .button {
    padding: 10px;
    color: #333333;
    background-color: #ffc1d5;
    text-decoration: underline;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    float: left;
  }

  a:hover {
    background-color: #fc6998;
  }